*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 23.438rem;
    height: 50.75rem;
    background-image: url(../../assets/bg.png);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body *{
    line-height: 160%;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}